body {
	margin: 0;
	user-select: none;
}

a {
	color: inherit;
	text-decoration: none;
}

@font-face {
	font-family: "Monaspace";
	src: url(/fonts/MonaspaceNeon-Medium.otf);
}

header {
	position: sticky;
	top: 0;
}

marquee {
	font-family: Monaspace;
	font-size: large;
	border-bottom: 1px solid black;
	background-color: black;
	color: white;
	user-select: none;
}

marquee > span:not(#money-symbol) {
	color: yellow;
}

#money-symbol {
	color: lightgreen;
}

#app {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#word-display {
	font-size: xx-large;
	font-family: "Monaspace";
}

#keyboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	width: 15rem;
	font-family: "Monaspace";
}

.letter {
	cursor: pointer;
	padding: 0.5rem;
	margin: 0.2rem;
	transition: 0.3s ease;
	border: 0.1rem solid black;
}

.letter:hover {
	transform: scale(1.2);
}

.letter:active {
	border-color: white;
	background-color: rgba(100, 100, 100, 0.5);
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: black;
	color: white;
}

footer > a {
	font-family: "Monaspace";
	color: lightcoral;
}

footer > a:visited {
	color: lightcoral;
}
